pipeline:
  name: 'A Test Pipeline'
  version: '0.01'
  constants:
    - name: 'HOME'
      value: '/wehisan/home/allstaff/t/thomas.e'
    - name: 'QUEUE'
      value: 'thomas_e-1'
    - name: 'BASE_DIR'
      value: '/wehisan/bioinf/bioinf-data/Papenfuss_lab/projects/micronuclei'
    - name: 'WORK_DIR'
      value: '%BASE_DIR%/workdir'
    - name: 'DATA_DIR'
      value: '%BASE_DIR%/data'
  input-files: '%DATA_DIR%/(*)_R([12]).fastq.gz'
  stage:
    name: 'Trim with trimmomatic'
    tool: 'trimmomatic'
    output-files: '%WORK_DIR%/$1-trimmed_$2.fastq.gz'
  stage:
    name: 'Align with bwa mem'
    tool: 'bwa_mem'
    output-files: '%WORK_DIR%/$1-aligned.bam'
  stage:
    name: 'Sort and index with samtools'
    tool: 'bwa_mem'
    output-files: '%WORK_DIR%/$1-aligned.bam'
  stage:
    name: 'Call with GRIDSS'
    tool: 'gridss'
    output-files: '%WORK_DIR%/$1.vcf'
